# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
.venv/
ENV/

# Databases
*.db
*.sqlite
*.sqlite3

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db
